numpy
pandas
yfinance
scikit-learn
pandas-ta
backtrader
stable-baselines3
gym
optuna
ccxt
streamlit
plotly
mplfinance
pandas-profiling
streamlit-pandas-profiling
shap
nltk
tensorflow
pennylane
spektral
networkx
celery
redis
kombu

